:root {
  --color1: #fc6600;
  --color2: #1597d4d6;
  --color2po: #1597d490;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: #000;
}
body ul li {
  list-style: none;
}
#wrap {
  background-image: url(../Img/ha-noi-phoco-hôi-an.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 40rem;
}
#header {
  background: var(--color2);
  border-bottom: 1px solid var(--color1);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
header img {
  display: block;
  width: 8rem;
}
header .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  font-weight: 700;
}
header .contact > a {
  background: -webkit-linear-gradient(right, #f53535, #333af7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .contact i {
  margin-right: 1rem;
  transition: 0.2s linear;
  font-size: 2rem;
}
header .contact span {
  display: none;
  transition: 0.2s linear;
}
header .contact a:hover {
  color: var(--color1);
}
header .color {
  display: flex;
  justify-content: center;
}
header .color #c1 {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333333;
  margin: 0.5rem;
  border-radius: 50%;
}
header .color #c2 {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #e2bb10;
  margin: 0.5rem;
  border-radius: 50%;
}
header .color #c3 {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #009942;
  margin: 0.5rem;
  border-radius: 50%;
}
header .login a {
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  width: 110px;
  background-color: var(--color2);
  border-radius: 10px;
  box-shadow: 0px 5px 0 #9d51e9;
  transition: all 0.1s ease-in;
  color: #fff;
}
header .login a:hover {
  background: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
  color: #0b2688;
}
header .login a:active {
  transform: translateY(5px);
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  box-shadow: none;
  color: #000000;
}
.menu {
  background-color: var(--color2);
  color: #fff;
  font-size: 2.2rem;
  padding: 0.7rem;
  text-align: right;
}
.menu i {
  transition: 0.2s linear;
}
.menu i:hover,
.menu i:active {
  color: var(--color1);
}
nav {
  background-color: var(--color2);
  /* background: transparent; */
  padding: 1rem;
  /* text-align: center; */
  font-size: 1.7rem;
}
nav .container-nav > li {
  margin: 1rem;
}
nav .container-nav > li > a {
  text-decoration: none;
  color: #fff;
  /* display: block; */
  /* margin: 1rem; */
  transition: 0.2s linear;
  position: relative;
}
nav .container-nav > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.2rem;
  background-color: var(--color1);
  bottom: -0.2rem;
  left: 0;
  transition: 0.3s linear;
}
nav .container-nav > li > a:hover::after {
  width: 100%;
}
nav .container-nav > li > a:hover {
  color: var(--color1);
}
nav .container-nav > li > a > i {
  margin-right: 0.7rem;
}

/* Menu child */
nav .container-nav > .menu-parent {
  position: relative;
}
nav .container-nav > .menu-parent > .menu-child {
  position: absolute;
  padding: 0 2rem 1rem 2rem;
  background-color: var(--color2);
  right: -2rem;
  top: 3rem;
  color: #fff;
  /* opacity: 0;
  visibility: hidden; */
  display: none;
  z-index: 2;
  transition: 0.3s cubic-bezier(0.76, 0.23, 0.29, 0.87);
  width: 43rem;
  border-radius: 0 0 1rem 1rem;
}
nav .container-nav > .menu-parent > .menu-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: transparent;
  left: 0;
  top: -1rem;
}
nav .container-nav > .menu-parent > .menu-child > li {
  padding: 0.5rem 0;
}
nav .container-nav > .menu-parent > .menu-child > li > a {
  color: #fff;
  transition: 0.2s linear;
}
nav .container-nav > .menu-parent > .menu-child > li > a:hover {
  color: var(--color1);
}
nav .container-nav > .menu-parent:hover > .menu-child {
  /* opacity: 1;
  visibility: visible; */
  display: block;
}
/* Meunu child */
.title {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  color: #000000;
}
.list-tour {
  background-color: #cdcdcd4c;
  font-size: 1.3rem;
  margin: 1.5rem 0;
  border-radius: 1rem;
}
.list-tour hr {
  background-color: var(--color2);
}
.list-tour article {
  padding: 1rem;
  overflow: hidden;
}
.list-tour article .imga {
  display: block;
  overflow: inherit;
}
.list-tour article .imga img {
  width: 100%;
  display: block;
  transition: 0.5s ease;
  border-radius: 1rem 1rem 0 0;
}
.list-tour article .content i {
  color: var(--color2);
  margin-right: 0.5rem;
}
.list-tour article .content div .title-w20r {
  display: inline-block;
  width: 15rem;
  margin: 0.5rem;
}
.list-tour article .content div p > select option {
  font-size: 1rem;
}
.list-tour article .content div p {
  margin: 0.5rem;
  display: inline;
}
.table {
  margin-top: 2rem;
}
.table table {
  width: 100%;
  /* border-collapse: collapse; */
  background-color: #fff;
  border-radius: 1rem;
}
.table table th {
  border-bottom: 1px solid var(--color2);
}
.table table tr:last-child td {
  border-top: 1px solid var(--color2);
}
.table table th,
td {
  padding: 0.5rem;
  text-align: center;
}
.table table td input {
  border: 1px solid var(--color2);
  outline: none;
}
.btn-tour {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn-tour a {
  /* cursor: pointer; */
  text-align: center;
  border-radius: 1rem;
  /* display: block; */
  /* width: 10rem; */
  /* height: 3rem; */
  /* background-color: #fff; */
  padding: 1rem 2rem;
}
.btn-tour i {
  margin-right: 1rem;
}
.btn-tour .btn-chair {
  background-color: #ff9000;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  color: #fff;
}
.btn-tour .btn-ticket {
  color: #fff;
  background-color: #0094da;
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.btn-tour .btn-chair:hover {
  background-color: #ffa32afe;
  box-shadow: 0 0 1rem #ff9000;
}
.btn-tour .btn-ticket:hover {
  background-color: #1ab6fe;
  box-shadow: 0 0 1rem #0094da;
}
.orther-tour {
  font-size: 1.8rem;
  padding: 1.5rem 1rem;
  /* color: #000000; */
  background-color: #75737333;
  margin: 1rem 0;
}
.orther-tour .grid-orther .imga {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.orther-tour .grid-orther .imga .note-calender {
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, #000);
  position: absolute;
  left: 0;
  top: 85%;
  padding: 1rem 0;
  color: #98b82f;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.orther-tour .grid-orther .imga .calender {
  text-align: center;
}
.orther-tour .grid-orther .imga .calender i {
  margin-right: 0.5rem;
}
.orther-tour .grid-orther .imga:hover .note-calender {
  transform: translateY(50%);
  opacity: 0;
}
.orther-tour .content {
  padding: 1rem;
  background-color: #fff;
}
.orther-tour .content h3 {
  text-align: center;
  font-size: 1.8rem;
}
.orther-tour .content h3 a {
  color: #0e7aac;
}
.orther-tour img {
  display: block;
  width: 100%;
}
.orther-tour .content .price {
  cursor: pointer;
  text-align: center;
  background-color: var(--color1);
  padding: 0.5rem 0;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.orther-tour .content .price:hover {
  background-color: rgb(236, 24, 24);
}
.orther-tour .item1 {
  grid-area: item1;
  margin-top: 1rem;
  border-bottom: 1px solid var(--color1);
}
.orther-tour .item2 {
  grid-area: item2;
  margin-top: 1rem;
  border-bottom: 1px solid var(--color1);
}
.orther-tour .item3 {
  grid-area: item3;
  margin-top: 1rem;
  border-bottom: 1px solid var(--color1);
}
.orther-tour .item4 {
  grid-area: item4;
  margin-top: 1rem;
  border-bottom: 1px solid var(--color1);
}
footer {
  background-color: var(--color2);
  color: #fff;
  padding: 1rem 0;
}
footer section h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
footer section hr {
  width: 10rem;
}
footer section p {
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.7rem;
  font-weight: 100;
}
footer section .contact {
  grid-area: contact;
  margin: 1rem;
}
footer section .map {
  grid-area: map;
  margin: 1rem;
}
footer section .social {
  grid-area: social;
  margin: 1rem;
}
footer section .map iframe {
  padding: 1rem 0 1rem 0;
}
footer section .social i {
  display: inline-block;
  font-size: 2.2rem;
  padding: 1rem 1rem 1rem 0;
}
footer section .social input {
  width: 18rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
footer section .social button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.8rem;
  color: #fff;
  background-color: #fc6600;
}
footer section .pay {
  grid-area: pay;
  margin: 1rem;
}
footer section .pay .image {
  width: 30rem;
  margin-top: 1.8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}
footer section .pay .image .img {
  width: 8rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zalo {
  position: fixed;
  bottom: 10rem;
  right: 3rem;
  width: 5rem;
  height: 5rem;
  transition: 0.5s;
}
.zalo:hover {
  scale: 1.2;
}
.message {
  position: fixed;
  bottom: 2rem;
  right: 0;
  width: 11rem;
  height: 6rem;
  transition: 0.5s;
}
.message:hover {
  scale: 1.2;
}
/* Điện thoại đứng */
@media screen and (min-width: 240px) {
  header,
  main,
  .search,
  footer section {
    margin-left: 5%;
    margin-right: 5%;
  }
}
/* Điện thoại ngang và Máy tính bảng dọc*/
@media screen and (min-width: 768px) {
  main,
  header,
  .search,
  footer section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  header .contact span {
    display: inline-block;
  }
  nav .container-nav {
    display: flex;
    justify-content: space-around;
  }
  nav .container-nav > .menu-parent > .menu-child {
    padding: 1.5rem 2rem;
    right: -2.5rem;
    top: 3rem;
    width: 20rem;
    text-align: center;
  }
  .menu {
    display: none;
  }
  .title {
    font-size: 3.5rem;
    width: 100%;
    padding: 1rem;
  }
  .list-tour {
    width: 100%;
    display: flex;
  }
  .list-tour .image {
    width: 50%;
  }
  .list-tour .list-content {
    width: 50%;
  }
  .list-tour .list-content .content div {
    display: flex;
  }
  .orther-tour .grid-orther {
    display: grid;
    grid-template-areas: "item1 item2 item3 item4";
    grid-gap: 1rem;
  }
  .orther-tour .grid-orther .imga .note-calender {
    top: 70%;
  }
  footer section {
    display: grid;
    grid-template-areas:
      "contact map"
      "social pay";
    column-gap: 10rem;
    row-gap: 1rem;
  }
}
/* Laptop  và máy tính bảng ngang*/
@media screen and (min-width: 1024px) {
  main,
  header,
  .search,
  nav .container-nav,
  footer section {
    margin-left: 10%;
    margin-right: 10%;
  }
  header .contact span {
    display: inline-block;
  }
  nav .container-nav a {
    display: flex;
    justify-content: space-around;
  }
  main {
    text-align: center;
  }
  /* .title {
    max-width: 100rem;
    width: 100%;
    font-size: 4rem;
    padding: 2rem;
  } */
  .orther-tour .grid-orther .imga .note-calender {
    top: 75%;
  }
  footer section {
    display: grid;
    grid-template-areas:
      "contact map social"
      "pay pay pay";
    column-gap: 10rem;
    row-gap: 1rem;
  }
}
